@media (max-width: 1000px )  {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
    .top-wrapper h1 {
        font-size: 32px;
    }
    .lesson-wrapper h2 {
        font-size: 32px;
        line-height: 36px;
    }
    .container h1 {
        font-size: 32px;
    }
}

@media (max-width: 670px ) {
    .lesson {
        width: 100%;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .lesson-wrapper h2 {
        font-size: 24px;
        line-height: 23px;
    }
    .btn {
        width: 100%;
    }
    .facebook {
        margin-bottom: 10px;
    }
    .container h1 {
        font-size: 24px;
    }
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    footer {
        text-align: center;
    }
    
}
