
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

header {
    font-size: 15px;
    font-family: 'Georama', sans-serif;
    width: 100%;
    height: 60px;
    background-image: url(blue_background.jpg);
    background-size: cover;
    position: fixed;
}

.logo {
    font-size: 20px;
    color: azure;
    margin : 20px 50px;
    float: left;
}

.header-right {
    float: right;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 40px;
}
/*awal bagian top*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://img.freepik.com/free-vector/back-school-new-normal-lifestyle-concept-happy-kids-wearing-face-mask-social-distancing-protect_83111-1086.jpg?size=626&ext=jpg);
  background-size: cover;
  text-align: center;
  opacity: 0.8;
}

.top-wrapper h2 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-bottom: 3px;
  font-size: 20px;
  font-style: georgia;
  font-weight: bold;
  color: black;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 2px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin-bottom: 3px;
  font-size: 16px;
  font-style: georgia;
  color: black;
}

.facebook {
  background-color: #3b5998;
  margin-right: 40px;
}

.twitter {
  background-color: #55acee;
  margin-left: 40px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
/*akhir bagian Top*/


/* awal bagian lesson */
.lesson-wrapper {
height: 850px;
padding-bottom: 80px;
background-color: #35c0eb;
text-align: center;
}

.heading {
padding-top: 60px;
padding-bottom: 30px;
color: white;
}

.heading h2 {
font-weight: bold;
font-family: Georgia;
font-size: 40px;
}

.lesson {
    float: left;
    width: 30%;
    padding-bottom: 35px;
    padding-left: 30px;
}

.lesson-wrapper .container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.lesson p {
    color: white;
    font-family: Georgia;
    font-size: 18px;
}

img {
    width: 250px;
    height: 250px;
}
/* akhir bagian lesson */
/* awal bagian message*/
.message-wrapper{
    font-family: 'Georgia' ;
    padding-top:100px;
    padding-bottom :100px;
    color :black;
}

.container{
    width: 100%;
  padding : 0 auto;
  margin : 0 auto;
  text-align: center;
}

.btn-wrapper{
  text-align: center;
  margin: 50px 0;
}

.syringe{
  background-color: #0051ff; 
}

.btn{
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 6px;
  text-decoration: none;
  text-align: center;
  margin : 0 auto;
  box-shadow: 0 7px #000e2c;
}

.btn:hover{
  opacity: 1;
}

.btn:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}
/*akhir bagian message*/
footer {
    background-color: #eef8ff;
    height: 100px;
    width: 100%;
}

.footer-left {
    float: left;
}

.logo {
    font-family: 'Georama', sans-serif;
    font-size: 20px;
    color: #4169E1;
    margin : 20px 50px;
}

.footer-left h3 {
    font-size: 10px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
}

.footer-right {
    float: right;
}

.icon {
    padding: 15px 15px;
    list-style: none;
    font-size: 10px;
}

.fab {
    padding-right: 5px;
}
